{# templates/job-api.html.twig #}

<h1>My Twig Template</h1>
<p>You entered this keyword: {{ test_keyword }}</p>
<p>You entered this country: {{ test_country }}</p>
<p>You entered this city: {{ test_city }}</p>